
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen',sans-serif;
}

.menu {
    list-style-type: none;
    background-color: rgb(0, 174, 255) ;
    padding-block: 10px;
    Position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu__item{
    display: inline-block;
    margin-inline: 10px;

}

.menu__item a{
    color:black;
    text-decoration: none;
}

.menu__item.active a, 
.menu__item a:hover{
    text-decoration: underline double;
}

main {
    padding: 50px;
}

/* CARTITAS */
.cartita {
    width: 28%;
    background-color: rgb(218, 204, 228);
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    margin-inline: 2%;
    height: 570px;
    overflow: auto;
    position: relative;
    border: 2px dashed rgb(48, 19, 129);
}

.cartita__imagen {
    width: 100%;
}

.cartita__titulo {
    font-size: 20px;
}

.cartita__parrafo {
    font-size: 16px;
}


.cartita__boton {
    background-color: rgb(90, 56, 134);
    border: none;
    padding: 15px;
    border-radius: 10px;
}

.cartita__imagen,
.cartita__titulo,
.cartita__parrafo {
    margin-bottom: 15px;
}

.cartita_wpp {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
 
/* */

.wpp {
    position:fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
}

