* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.contenedor {
    border: 2px solid rgb(0, 128, 0);
    height: 200vh; 
    width: 200vh; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:  
    "caja1 caja1 caja1 caja1"
    "caja2 caja3 caja4 caja5"
    "caja6 caja6 caja6 caja6";
}

.caja {
    border: 1px solid rgb(8, 3, 27);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.caja1 {
    grid-area: caja1;
    background-color: rgb(164, 248, 248);
}

.caja2 {
    grid-area: caja2;
    background-color: rgb(164, 230, 170);
}
.caja3 {
    grid-area: caja3;
    background-color: rgb(102, 236, 236);
}

.caja4 {
    grid-area: caja4;
    background-color: rgb(169, 135, 219);

}

.caja5 {
    grid-area: caja5;
    background-color: rgb(238, 155, 220);
}

.caja6 {
    grid-area: caja6;
    background-color: rgb(226, 167, 159);
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
        "caja1 caja2"
        "caja3 caja4"
        "caja5 caja6";

    }
}

@media screen and (max-width:480px) {
    .contenedor {
        height: 100vh;
        display: flex;
        flex-direction: column;

    }
    .caja {
        background-color: black;
        color: white;
        flex: 1;

    }

    .caja4 {
        order: 1;

    }

}
